.entry{
    text-shadow: -1px -1px 0 white, 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white;
}

.true{
    color: white;
    margin: .25em;
}

.false{
    color: black;
    margin: .25em;
}

.like-container{
    height: 150px;
    align-items: center;
}
